*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Input{
  width: 200px;
  border: 1px solid;
  border-right: none ;
  outline: none;
  padding: 2px 5px;
}
.Input::placeholder {
  font-size: 12px;
}
nav {
  background-color: #24292f;
}
.navbar-brand{
  color: #fff !important;
  font-size: 32px !important;
  font-weight: bold;
}

.Card-Body{
  display: flex;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Follow-Div {
  display: flex;
  justify-content: space-evenly;
}
.Bio-Div {
  display: flex;
  /* justify-content: space-evenly; */
}
.Bio-Data p {
  padding: 10px;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.Bio-Data p span {
  font-weight: bold;
}
.Img-setting{
  height: 40vh;
  width: 100%;
  /* margin: 0 80px; */
  border-radius: 50% ;
}
.Profile-Div{
  margin: 0 10px 0 0;
}
.Bio-Data{
  display: flex !important;
  justify-content: space-evenly;
  text-align: center;
}
.Input-Field{
  display: flex;
  justify-content: flex-end;
}
.icon{
  font-size: 18px;
}
.Github_Img{
  position: sticky;
  left: 1000px;
  width: 200px;
  margin: 40px 20px 20px 20px;
}



/* ////Media  */
@media only screen and (max-width : 1200px)  {
  .Input-Field {
    display: block;
  }
}
@media only screen and (max-width : 767px)  {
  .Card-Box {
    max-width: 540px !important;
  }
}

@media only screen and (max-width : 580px)  {
  .Card-Box {
    max-width: 440px !important;
  }
}

@media only screen and (max-width : 500px)  {
  .Card-Box {
    max-width: 340px !important;
  }.Bio-Data {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width : 400px)  {
  .Card-Box {
    max-width: 300px !important;
  }
}











